

.navbar-expand-lg .navbar-nav{
    flex-direction: column;
    flex-grow: inherit;
}

.bd-masthead{
    margin-bottom: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    margin-top: auto;
    
}

footer a{
    text-decoration: none;
    color: var(--bs-primary-rgb);
}


